<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="AccesoDatos" value="ServicesTest.DAL.Repositories.SQL" />
	<add key="AccesoDatosBusiness" value="DALTest.Repositories.SQL"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="MainConString" connectionString="Data Source=DESKTOP-7R6TKQP\EQUIPO;Initial Catalog=TC;Integrated Security=True" />
    <add name="SecurityConString" connectionString="Data Source=DESKTOP-7R6TKQP\EQUIPO;Initial Catalog=TCSecurity;Integrated Security=True" />
    <add name="BackupConnection" connectionString="C:\Program Files\Microsoft SQL Server\MSSQL15.EQUIPO\MSSQL\Backup\" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>